<div class="top">
  <div class="d-flex">
    <h4>Send</h4>
    <div class="breadcrumb_sec">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><i class="fas fa-tachometer-alt" style="font-size: 16px !important;margin-right: 0px;color: #000;"></i> <a href="#" style="color:#000;">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page" style="margin-top: 3px;">Send</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="content" style="padding: 10px 20px;">
<div class="row">
  <div class="col-md-6">
    <nb-card-body>
      <form #sendDetailsForm="ngForm" (ngSubmit)="OnSubmit(sendDetailsForm)">
        <div class="d-flex">
          <h5 style="font-weight: bold;">Receiver Public Key</h5>
          <label
            for="file-upload"
            class="custom-file-upload add-image ml-3 mr-3"
          >
            <!-- <i class="add-image ml-3 mr-3"> </i> -->
            <input
              id="file-upload"
              #file
              type="file"
              accept="image/*"
              (change)="preview(file.files)"
            />
          </label>

          <button type="button" class="btn btn-primary modal_btn" style="background: transparent;padding:0;cursor: pointer;" data-toggle="modal" data-target="#exampleModal">
            <img src="../../../assets/images/keyword-search.png" style="width: 23px;margin-top: -8px;">
          </button>
                </div>
        <div class="input-group m-2">
            <img src="../../../assets/images/login.png">
            <input 
          name="Reciever" #Reciever="ngModel" [(ngModel)]="sendDetails.Reciever"
            class="form-control"
            placeholder="Enter Public Key"
            type="text"
            required
          />
  
        </div>
        <!-- <div>
          <nb-alert status="danger" *ngIf="Reciever.touched && Reciever.invalid">
            <div *ngIf="Reciever.errors.required">Receiver Public Key is required</div>
          </nb-alert>
        </div> -->
        <div class="input-group m-2 ">
<img src="../../../assets/images/bitcoin.png">
          <input class="form-control" 
          name="Amount" #Amount="ngModel" [(ngModel)]="sendDetails.Amount"
          placeholder="Enter Amount" type="text" required />
        </div>
        <!-- <div>
          <nb-alert status="danger" *ngIf="Amount.touched && Amount.invalid">
            <div *ngIf="Amount.errors.required">Amount is required</div>
          </nb-alert>
        </div> -->
        <div class="input-group m-2">
            <img src="../../../assets/images/lock.png">
            <input
            class="form-control"
            placeholder="Enter Your Password"
            type="password"
            name="password" #password="ngModel" [(ngModel)]="sendDetails.password"
          />
        </div>
        <div class="float-right">
        <button  class="save_btn">Send</button>
        </div>
      </form>
    </nb-card-body>
  </div>
  <div *ngIf="imgURL" class="col-md-6">
    <img id="uploaded-img" [src]="imgURL" />
  </div>
</div>
</div>
<!-- <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0"
    aria-valuemax="100">
    {{uploadResponse.message}}%
  </div> -->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Public Key Search</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff;opacity: 1;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
          <form>
            <div class="input">
            <i class="eva eva-person"></i>
            <input type="text" placeholder="Username" class="form-control">
            </div>
            <div class="buttons">
            <div class="d-flex">
              <div class="button-group">
            <button type="button" (click)="sendKey()" class="send_btn">Send</button>
            <button type="button" (click)="copyKey()" class="copy_btn">Copy Key</button>
            </div>
            <div class="button2-group">
                <button type="button" data-dismiss="modal" class="cancel_btn">Cancel</button>
            </div>
            </div>
          </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
