<div class="top">
  <div class="d-flex">
    <h4>Receives</h4>
    <div class="breadcrumb_sec">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><i class="fas fa-tachometer-alt" style="font-size: 16px !important;margin-right: 0px;color: #000;"></i> <a href="#" style="color:#000;">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page" style="margin-top: 3px;">Receive</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="content">
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">From</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">12 March</th>
        <td>Mark</td>
        <td>12.000</td>
      </tr>
      <tr>
        <th scope="row">25 March</th>
        <td>Thornton</td>
        <td>5.000</td>
      </tr>
      <tr>
        <th scope="row">1 April</th>
        <td>Larry</td>

        <td>1.000</td>
      </tr>
      <tr>
        <th scope="row">1 April</th>
        <td>Larry</td>

        <td>1.000</td>
      </tr>
      <tr>
        <th scope="row">1 April</th>
        <td>Larry</td>

        <td>1.000</td>
      </tr>
      <tr>
        <th scope="row">1 April</th>
        <td>Larry</td>

        <td>1.000</td>
      </tr>
      <tr>
        <th scope="row">1 April</th>
        <td>Larry</td>

        <td>1.000</td>
      </tr>
      <tr>
        <th scope="row">1 April</th>
        <td>Larry</td>

        <td>1.000</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled first">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    <li class="page-item active"><a class="page-link " href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item last">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</div>

