<div class="form_section">

  <div class="title_sec">
    <img src = "../../../assets/images/inolog2.png">
    <p class="sub-title">Hello! Log in with your email.</p>
  </div>
  
  <div class="login-box-body">
    <form #userLoginForm="ngForm" (ngSubmit)="onSubmit(emailAdd.value,password.value)">
      <div class="form-group">
        <!-- <label>Email</label> -->
        <input type="email" class="form-control" placeholder="Email" name="emailAdd" #emailAdd="ngModel" [(ngModel)]="userDetails.emailAdd"
          required email autofocus>
        <nb-alert status="danger" *ngIf="emailAdd.invalid && emailAdd.touched">
          <div class="alert-custom" *ngIf="emailAdd.errors.required">Please Enter Your email</div>
          <div class="alert-custom emailAdd.errors?.email">email must be email</div>
        </nb-alert>
      </div>

      <div class="form-group">
        <input type="password" class="form-control fa fa-email" placeholder="Password" [(ngModel)]="userDetails.password"
          name="password" #password="ngModel" required>
        <nb-alert status="danger" *ngIf="password.touched && password.invalid">
          <div class="alert-custom" *ngIf="password.errors.required">Password is required</div>
        </nb-alert>
      </div>
      <div class="d-flex other">
        <div class="remeberMe">
          <input type="checkbox">  Remember Me
        </div>
        
      </div>
      <div class="text-center">
        <button class="btn-large btn-submit" type="submit">
          Login In
        </button>
      </div>
      <div class="register">
        <h4>Dont't  have an account? <a routerLink = "../register">Register</a></h4>
      </div>
    </form>
  </div>
</div>



