<div class="form_section">

  <div class="title_sec">
    <img src="../../../assets/images/inolog2.png">
    <p class="sub-title">Hello! Register with your email.</p>
  </div>
<div class="reg-box-body">
  <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">

    <div class="form-group">
      <input type="text" class="form-control" name="name" [(ngModel)]="userDetails.name" #name="ngModel"
        placeholder="Name" required pattern="[a-z ]{1,15}" minlength="9" maxlength="29"
        title="Username should only contain lowercase letters. e.g. john">
      <nb-alert class ="custom-alert" class= "custom-alert" status="danger"  *ngIf="name.touched && name.invalid && name.errors.required">
        <div>Please Enter Your Name</div>
      </nb-alert>
      <nb-alert class ="custom-alert"  class= "custom-alert" status="danger"  *ngIf="name.touched && name.invalid && name.errors.minlength">
      <div >name must be at least 9 characters</div>
      </nb-alert>
      <nb-alert  class= "custom-alert" status="danger"  *ngIf="name.touched && name.invalid && name.errors.maxlength">
        <div >name must be at least 30 characters</div>
      </nb-alert>
      <!-- <div *ngIf="name.errors.pattern" class="alert alert-danger">name must not include special character</div> -->
    </div>
    <div class="form-group">
      <input type="email" class="form-control" email name="emailAdd" required placeholder="Email" #emailAdd="ngModel"
        [(ngModel)]="userDetails.emailAdd">
      <nb-alert  status="danger" *ngIf="emailAdd.invalid && emailAdd.touched">
        <div class="emailAdd.errors?.email">email must be email</div>

      </nb-alert>
    </div>
    <div *ngIf="emailAdd else another" class="form-group">
      <int-phone-prefix  type="phone" placeholder="Your Phone number" 
      class="form-control phone_input" [(ngModel)]="userDetails.phone"
        name="phone" #phone="ngModel" ngModel pattern="^[0-9-+]+$"
        style="border:0;padding:0;background: #fff;border-radius: 20px;color:#495057;"></int-phone-prefix>

      <nb-alert status="danger" *ngIf="phone.touched && phone.invalid">
        <div *ngIf="phone.errors.pattern">phone must be from 0 to 9</div>
      </nb-alert>
    </div>
    <ng-template #another>
      <div class="form-group">
        <int-phone-prefix type="tel" placeholder="your phone number" class="form-control"
          [(ngModel)]="userDetails.phone" name="phone" #phone="ngModel" required
          pattern="^[0-9-+]+$" style="border:0;padding: 0;background:#fff;color: #495057;">
        </int-phone-prefix>
        <!-- <international-phone-number type="tel" placeholder="your phone number" class="form-control" [(ngModel)]="userDetails.phone"
              name="phone" #phone="ngModel" ngModel maxlength="11" minlength="11" pattern="^[0-9]+$" [defaultCountry]="'in'" [allowedCountries]="['in', 'ca', 'us']"></international-phone-number> -->
              <nb-alert  status="danger" *ngIf="phone.touched && phone.invalid">
                  <div *ngIf="phone.errors.required">Please Enter Your phone</div>
                 
                  <div *ngIf="phone.errors.pattern">phone must be from 0 to 9</div>
                </nb-alert>
      </div>

    </ng-template>

    <div class="form-group">
      <input type="text" placeholder="Your Address" class="form-control" [(ngModel)]="userDetails.address"
        name="address" #address="ngModel" ngModel minlength="9" maxlength="30">
      <nb-alert class ="custom-alert" status="danger" *ngIf="address.invalid && address.touched">
        <div *ngIf="address.errors.minlength">address must be at least 8 characters</div>
        <div *ngIf="address.errors.maxlength">address must be at least 30 characters</div>
      </nb-alert>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" placeholder="Your Password" [(ngModel)]="userDetails.password"
        name="password" #password="ngModel" required  minlength="9" maxlength="30">
      <nb-alert class ="custom-alert" status="danger" *ngIf="password.touched && password.invalid">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Password must be at least 8 characters</div>
        <div *ngIf="password.errors.maxlength">Password must be at least 30 characters</div>
      </nb-alert>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" placeholder="Your Confirm Password"
        [(ngModel)]="userDetails.confirmNew_password" name="confirmNew_password" #confirmNew_password="ngModel"
        required >
      <nb-alert class ="custom-alert" status="danger" *ngIf="confirmNew_password.touched && confirmNew_password.invalid">
        <div *ngIf="confirmNew_password.errors.required">confirm Password is required</div>
      </nb-alert>
      <nb-alert class ="custom-alert" status="danger"  *ngIf="(confirmNew_password.value != password.value)&& confirmNew_password.touched">
        2 passwords not matched
      </nb-alert>
    </div>

    <!-- <div class="form-group">
      <input type="text" [(ngModel)]="user.authentication_value" name="authentication_value"
        #authentication_value="ngModel" class="form-control" placeholder="this authentication value">
    </div> -->
    <div class="text-center">
      <button  [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Register</button>
    </div>
    <div class="register">
      <h4>Already have an account? <a routerLink="../login">Login</a>
      </h4>
    </div>
  </form>
</div>
  
  {{errorMsg}}
</div>