<div class="top">
    <div class="d-flex">
      <h4>Edit Profile</h4>
      <div class="breadcrumb_sec">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fas fa-tachometer-alt" style="font-size: 16px !important;margin-right: 0px;color: #000;"></i> <a href="#" style="color:#000;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="margin-top: 3px;">Edit Profile</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
<div class="content">
    <form #editProfileForm = "ngForm" (ngSubmit)="onSubmit(editProfileForm)">

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Name</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" [(ngModel)]="userData.name" name="name" #name="ngModel"
                 pattern="[a-z ]{1,15}" minlength="9" maxlength="29" disabled>
                </div>
                
            </div>

        </div>
        <div class="form-group">

            <div class="row">
                <div class="col-md-2">
                    <label>Email</label>
                </div>
                <div class="col-md-10">
                    <input type="email"  class="form-control" email [(ngModel)]="userData.emailAdd" name="emailAdd" #emailAdd="ngModel">
                </div>
                
            </div>
        </div>
       
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Phone</label>
                </div>
                <div class="col-md-10">
                    <int-phone-prefix type="phone" placeholder="your phone number" class="form-control"
                    name="phone" #phone="ngModel" [(ngModel)] = "userData.phone"  pattern="^[0-9-+]+$" style="border:0;padding:0;background:transparent"></int-phone-prefix>              </div>
               
            </div>
            
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Address</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)] = "userData.address">
                </div>
                
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Public Key</label>
                </div>
                <div class="col-md-10">
                    <label class="form-control">{{userData.publicKey}}</label>
                    <!-- <input type="text" class="form-control"  name="publicKey" #publicKey="ngModel" [(ngModel)]="publicKey"/> -->
                </div>
                
            </div>
        </div>
        <div class = "row">
        <div class="col-md-1">

        </div>
        <div class="col-md-11">
                <div class="buttons float-right">
                        <a class="cancel_btn" (click) = "cancel()">Cancel</a>
                        <button type="submit" class="save_btn">Save Changes</button>
                    </div>
        </div>
      

        </div>
        
    </form>
</div>