<div class="top">
    <div class="d-flex">
      <h4>Deactivate Account</h4>
      <div class="breadcrumb_sec">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fas fa-tachometer-alt" style="font-size: 16px !important;margin-right: 0px;color: #000;"></i> <a href="#" style="color:#000;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="margin-top: 3px;">Deactivate Account</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
<div class="content">
    <form #deactivateAccountForm="ngForm">

       
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Enter Your Reason</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" name = "reason" placeholder="Reason" #reason="ngModel" [(ngModel)]="userDetails.reason">
                </div>
              
            </div>
        </div>
        
      
                <div class="buttons float-right">
                        <button type="submit" (click)="deactivate_account(deactivateAccountForm.value)" class="save_btn">Deactivate</button>
                    </div>
        
        <div class="clearfix"></div>
    </form>
</div>
